

/* Fondo de la página */
.page-background {
  background-image: url('../img/fondo6.jpg'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  padding: 20px; 
}


.page-content {
  max-width: 1200px; 
  margin: 0 auto; 
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.riego-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre tarjetas */
    padding: 0 8px; 
    margin: 0 auto; 
    list-style: none;
    max-width: 1200px; 
  }
  
  

  
/*-----------tarjetas texto-------------*/

.riego-item {
  flex: 0 0 calc(33.333% - 16px);
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.riego-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.riego-item p {
  margin: 10px 0;
  font-size: 14px;
  color: #555555;
  line-height: 1.5;
}

.riego-item strong {
  display: block; /* Hace que los encabezados ocupen una línea completa */
  background-color: #f5f5f5; 
  padding: 8px;
  border-radius: 6px;
  color: #2c3e50;
  font-weight: 600;
  margin-bottom: 8px; 
}



.riego-item p:not(:last-child) {
  border-bottom: 1px solid #e0e0e0; /* Línea divisoria */
  padding-bottom: 10px; 
}


h3.sub-titulo-form {
    font-size: 28px;
    color: #2c3550; 
    font-weight: 700;
    text-align: center; 
    margin: 60px auto; 
    max-width: 80%; 
  }


 
  @media (max-width: 768px) {
    .riego-item {
      flex: 0 0 calc(50% - 16px); /* 2 tarjetas por fila en pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .riego-item {
      flex: 0 0 100%; 
    }
  }




  




