.glass-container {
  background-image: url('../img/fondo1.png');
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.glass-avatar {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.glass-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  max-width: 500px;
}
.sub{
  color: #fff;
  
}

.glass-text {
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.5rem;
 
}
/*.persea-text{
  color: rgb(16, 158, 3);
}*/

.glass-button {
  background-color: #ffffff;
  border: 2px solid transparent;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

}

.glass-logo {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;          
  border: 2px solid #ffffff;
  
}