body {
    background-size: cover;
    background-position: center;
}

.main1 {
    margin: 0 5%; /* Margen relativo */
    padding: 20px;
    box-sizing: border-box; /* Evita desbordamiento */
}

.cuadro {
    margin-top: 0px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #17aa40, #1e7c2b);
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box; /* Evita desbordamiento */
}


.cuadro:hover {
    border: 1px solid #026021;
    background: linear-gradient(to right, #24bd4f, #299838);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.boton-eliminar{
    width: 30px;
    height: 30px;
}





.icono img {
    width: 60px;
    height: 60px;
    margin: 0;
}





.parrafo {
    font-size: 12px;
    text-align: center;
}

.titulo{
    font-size: 24px;
    margin: 0;
}

/* Estilos para el botón */
.boton-ver-mas {
    text-decoration: none;
    padding: 8px 15px;
    background-color: white;
    color: #1e7c2b;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-ver-mas:hover {
    background-color: #f0f0f0;
    
    transform: scale(1.05);
    
}




.boton-eliminar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.boton-eliminar img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
}

.boton-eliminar:hover img {
    transform: scale(1.1);
}


.modal-overlay-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-2 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
}

.modal-2 button {
    margin: 10px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.confirmar {
    background-color: red;
    color: white;
    border-radius: 5px;
    
}

.cancelar {
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.confirmar:hover {
    background-color: darkred;
}

.cancelar:hover {
    background-color: darkgray;
}
.parcela-1{
    font-weight: bold;
}
@media (max-width: 1920px) {
    .cuadro {
        width: 250px; /* Tamaño para laptops */
        height: 350px; /* Altura para laptops */
    }
}

/* Estilos para escritorio (23.8 pulgadas, más de 1920px de ancho) */
@media (min-width: 1921px) {
    .cuadro {
        width: 600px; /* Tamaño más grande para escritorio */
        height: 800px; /* Altura más grande para escritorio */
    }
}

/* Estilos para móviles (menos de 768px de ancho) */
@media (max-width: 768px) {
    .cuadro {
        width: 90%; /* Ancho relativo para móviles */
        height: auto; /* Altura dinámica para móviles */
    }
}