.main {
    background-image: url(../img/fondo6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /* Evita el scroll */
}

.orden {
    margin-top: 5%;
    margin-bottom: 5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.union img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 8px;
    margin-left: -40px;
}

.orden h2 {
    color: #1e7c2b;
    margin-bottom: 20px; 
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.button {
    margin-top: 15px;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #259304;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    border: none; 
}

.button:hover {
    background-color: #196623;
}

.swiper-container {
    width: 100%;
    max-width: 1000px; 
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {
    color: #17500c !important;
    font-weight: bold;
    transform: translateY(-50%);
}

.swiper-pagination-bullet-active {
    background-color: #107a14 !important;
}

/* Ajustes para tablets */
@media (max-width: 1024px) {
    .orden {
        margin: 5%;
    }

    .orden h2 {
        font-size: 40px;
    }
}

/* Ajustes para m칩viles */
@media (max-width: 768px) {
    .main {
        padding-top: 60px; /* Menos espacio para el header en m칩viles */
    }

    .orden {
        margin: 10px;
    }

    .orden h2 {
        font-size: 28px;
    }
}

/* Ajustes para m칩viles peque침os */
@media (max-width: 480px) {
    .orden h2 {
        font-size: 24px;
    }
}